@import './base.css';
@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-icons/font/bootstrap-icons.min.css';
@import 'bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css';

.error {
    color: red;
}

.btn-primary {
    background-color: #731f08 !important;
    border: 1px solid #731f08 !important;
    color: #f6eee8 !important;
}

.fundi-text {
    color: #731f08 !important
}

.table-responsive {
  overflow-x: auto;
}